<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/menu.xsd">
    <menu>
        <add id="Mageplaza_DDoSProtect::ddos_protect" title="DDoS Protect" module="Mageplaza_DDoSProtect" sortOrder="50" resource="Mageplaza_DDoSProtect::ddos_protect"/>
        <add id="Mageplaza_DDoSProtect::requests" title="Requests" module="Mageplaza_DDoSProtect" sortOrder="10" parent="Mageplaza_DDoSProtect::ddos_protect" action="ddosprotect/request/index" resource="Mageplaza_DDoSProtect::requests"/>
    </menu>
</config>
