<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <section id="ddos_protect" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>DDoS Protect</label>
            <tab>mageplaza</tab>
            <resource>Mageplaza_DDoSProtect::configuration</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="whitelist" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>IP Whitelist</label>
                    <comment>Enter IP addresses to whitelist, separated by commas</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="time_window" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Time window</label>
                </field>
                <field id="max_requests" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max requests</label>
                </field>
            </group>
        </section>
    </system>
</config>
